nav.navbar.navbar-toggleable-md.navbar-light.sticky-top.main-nav
	button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navigate')
		img.navbar-toggler-icon(src='#')
	a.navbar-brand(href='#') Status Quo-ra

	div.collapse.navbar-collapse(id='navigate')
		ul.navbar-nav.mr-auto
			+populateNavbar(navLinks, pageId)
