extend layouts/main.pug

block contents
	.spacer.py-5
	.jumbotron
		h1.logo.text-center.py-5 Status Quo-ra
		p.tagline.text-center
			| Using Status Quo-ra, you gain access to 
			| user's growth statistics.
